 .rex-radio {
   margin: 0.5rem;
   display: inline-flex;

   input[type="radio"] {
     position: absolute;
     opacity: 0;
     cursor: inherit;

     &:disabled {
       +.rex-radio-label {
         color: #d1d1d1;
     }
    }
  }

   &.rex-form-block {
     display: flex !important;
   }

   .rex-radio-label {
     svg {
       width: 1.5rem;
       vertical-align: -0.32rem;
       margin-right: .5rem;
     }
   }
 }