@import './core.mixin';

@mixin rex-radio-group {
  @include rex-core();
  @include rex-radio-group-theme();
  @include rex-radio-group-title();
}

@mixin rex-radio-group-theme() {
  // ReX Colors
  --rex-gray-900: #333333;
  // Theme
  --rex-radio-group-theme-text: var(--rex-gray-900);
  // Props
  --rex-radio-group-title-weight: 600;
}

@mixin rex-radio-group-title {
  h3 {
    line-height: 1.5rem;
    font-weight: var(--rex-radio-group-title-weight);
    color: var(--rex-radio-group-theme-text);
    margin: 1rem 0 0 0;
    display: block;
  }
}
